.blankbar{
    width: 21px;
    min-height:100%;
    height:100%;
    float: left;
    background-image: url("../images/sub_38.png");
    background-repeat:repeat-y;
}

/*!

 =========================================================
 * Paper Kit - v1.2.2
 =========================================================
 
/*      light colors - used for select dropdown         */
/*           Font Smoothing      */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 400;
  margin: 30px 0 15px;
}

h1, .h1 {
  font-size: 4.5em;
}

h2, .h2 {
  font-size: 3em;
}

h3, .h3 {
  font-size: 1.825em;
  line-height: 1.4;
  margin: 20px 0 10px;
}

h4, .h4 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
}

h5, .h5 {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 1.4em;
  color:rgba(108, 108, 109, 1);
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: #9A9A9A;
  font-weight: 300;
  line-height: 1.4em;
}

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
  font-size: 60%;
}

.title-uppercase {
  text-transform: uppercase;
}

blockquote {
  font-style: italic;
}

blockquote small {
  font-style: normal;
}

.text-muted {
  color: #DDDDDD;
}

.text-primary, .text-primary:hover {
  color: #427C89 !important;
}

.text-info, .text-info:hover {
  color: #3091B2 !important;
}

.text-success, .text-success:hover {
  color: #42A084 !important;
}

.text-warning, .text-warning:hover {
  color: #BB992F !important;
}

.text-danger, .text-danger:hover {
  color: #B33C12 !important;
}

.glyphicon {
  line-height: 1;
}



/*     General overwrite     */
html {
	height:100%;
	margin: 0;
	padding:0;
}

body {
  color: #66615b;
  font-size: 16px;
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
  height:100%;
  margin: 0;
  padding:0;
}

a {
  color: #68B3C8;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}
a:hover, a:focus {
  color: #3091B2;
  text-decoration: none;
}

hr {
  border-color: #F1EAE0;
}

.icon {
  fill: #66615b;
}

.fa-base {
  font-size: 1.25em !important;
}

.btn,
.navbar .navbar-nav > li > a.btn {
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 2px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  /* padding: 7px 18px; */
  /* ID, PW size */
  padding: 1px 1px;
  border-color: #66615B;
  color: #66615B;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}
.btn-neutral {
  border-color: #FFFFFF;
  color: #FFFFFF;
}
.btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
  background-color: #FFFFFF;
  color: rgba(255, 255, 255, 0.7);
  border-color: #FFFFFF;
}
.btn-neutral:hover .caret, .btn-neutral:focus .caret, .btn-neutral:active .caret, .btn-neutral.active .caret, .open > .btn-neutral.dropdown-toggle .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
}
.btn-neutral.disabled, .btn-neutral.disabled:hover, .btn-neutral.disabled:focus, .btn-neutral.disabled.focus, .btn-neutral.disabled:active, .btn-neutral.disabled.active, .btn-neutral:disabled, .btn-neutral:disabled:hover, .btn-neutral:disabled:focus, .btn-neutral:disabled.focus, .btn-neutral:disabled:active, .btn-neutral:disabled.active, .btn-neutral[disabled], .btn-neutral[disabled]:hover, .btn-neutral[disabled]:focus, .btn-neutral[disabled].focus, .btn-neutral[disabled]:active, .btn-neutral[disabled].active, fieldset[disabled] .btn-neutral, fieldset[disabled] .btn-neutral:hover, fieldset[disabled] .btn-neutral:focus, fieldset[disabled] .btn-neutral.focus, fieldset[disabled] .btn-neutral:active, fieldset[disabled] .btn-neutral.active {
  background-color: transparent;
  border-color: #FFFFFF;
}
.btn-neutral.btn-fill {
  color: #FFFFFF;
  background-color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus, .btn-neutral.btn-fill:active, .btn-neutral.btn-fill.active, .open > .btn-neutral.btn-fill.dropdown-toggle {
  background-color: #FFFFFF;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.btn-neutral.btn-fill .caret {
  border-top-color: #FFFFFF;
}
.btn-neutral.btn-simple:hover, .btn-neutral.btn-simple:focus, .btn-neutral.btn-simple:active, .btn-neutral.btn-simple.active, .open > .btn-neutral.btn-simple.dropdown-toggle {
  background-color: transparent;
  color: #FFFFFF;
}
.btn-neutral.btn-simple .caret {
  border-top-color: #FFFFFF;
}
.btn-neutral .caret {
  border-top-color: #FFFFFF;
}
.btn-neutral:hover, .btn-neutral:focus {
  color: #66615B;
}
.btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
  background-color: #FFFFFF;
  color: #66615B;
}
.btn-neutral.btn-fill {
  color: #66615B;
}
.btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus {
  color: #403D39;
}
.btn-neutral.btn-simple:active, .btn-neutral.btn-simple.active {
  background-color: transparent;
}

.btn:disabled, .btn[disabled], .btn.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* bootstrap.min.css -> btn-info, warning section -> change name btn-mainbtn ... for backgroundcolor white*/
.btn-mainbtn{color:transparent;background-color:transparent;border-color:transparent}
.btn-mainbtn:hover{color:transparent;background-color:#FFFFFF;border-color:#FFFFFF}
.btn-mainbtn.focus,.btn-register:focus{box-shadow:0 0 0 .2rem rgba(58,176,195,.5)}
.btn-mainbtn.disabled,.btn-register:disabled{color:#fff;background-color:#FFFFFF;border-color:#FFFFFF} 
.btn-mainbtn:not(:disabled):not(.disabled):active:focus,

.btn-simple {
  border: 0;
}
.btn-simple.btn-icon {
  padding: 7px;
}

.btn-lg {
  font-size: 20px;
  border-radius: 50px;
  padding: 11px 30px;
  font-weight: 400;
}
.btn-lg.btn-simple {
  padding: 13px 30px;
}

.btn-sm {
  font-size: 14px;
  border-radius: 26px;
  padding: 4px 10px;
}
.btn-sm.btn-simple {
  padding: 6px 10px;
}

.btn-xs {
  font-size: 12px;
  border-radius: 26px;
  padding: 2px 5px;
}
.btn-xs.btn-simple {
  padding: 4px 5px;
}

.btn-wd {
  min-width: 140px;
}

.btn-group.select {
  width: 100%;
}

.btn-group.select .btn {
  text-align: left;
}

.btn-group.select .caret {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 8px;
}


.form-control::-moz-placeholder {
  color: #AAAAAA;
  opacity: 1;
  filter: alpha(opacity=80);
}

.form-control:-moz-placeholder {
  color: #AAAAAA;
  opacity: 1;
  filter: alpha(opacity=80);
}

.form-control::-webkit-input-placeholder {
  color: #AAAAAA;
  opacity: 1;
  filter: alpha(opacity=80);
}

.form-control:-ms-input-placeholder {
  color: #AAAAAA;
  opacity: 1;
  filter: alpha(opacity=80);

}

.form-control {
  background-color: #fffcf5;
  border: medium none;
  border-radius: 4px;
  color: #66615b;
  font-size: 16px;
  transition: background-color 0.3s ease 0s;
  padding: 7px 18px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}
.has-success .form-control, .has-error .form-control, .has-success .form-control:focus, .has-error .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}


.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

/* ID PW inputbox */ 
.inputid{
    border:0px solid #444444;
    height:40px; 
    width:350px;
    background:url("../images/main_07.png") no-repeat;
    padding-left:70px; 
    padding-right:30px;
    font-size:10px; resize:none;
    color:#FFFFFF
}

.inputpw{
    border:0px solid #444444;
    height:40px; 
    width:350px;
    background:url("../images/main_10.png") no-repeat;
    padding-left:70px; 
    padding-right:30px;
    font-size:10px; resize:none;
    color:#FFFFFF
}



.navbar {
  border: 0;
  font-size: 16px;
  padding: 10px;
  z-index: 3;
}
.navbar .navbar-brand {
  background:url("..images/sub_06.png") repeat-y;
  font-weight: 600;
  margin: 5px 0px;
  padding: 20px 15px;
  font-size: 22px;
}




#register-navbar a {
  color: #FFF;
}


/*Backgroundimage settings*/
.register-background { 
  background-position: right;
  background-size:cover;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.container .wrapper {
	height:100%;
}

.register-background  {
  margin-top: 8%;
  position: relative;
  z-index: 3; 
}

   
.register-footer {
  bottom: 20px;
  color: #fff;
  position: absolute;
  z-index: 3;
  width: 100%;
}

.register-footer .fa-heart {
  color: #EB5E28;
}

/*ID, PW section*/
.register-card {
  border-radius: 8px;
  color: #a56513;
  max-width: 360px;
  margin: 0 0 0px;
  min-height: 380px;
  padding: 10px;
}

.register-card label {
  margin-top: 15px;
}

.register-card .title {
  color: #a56513;
  text-align: center;
}

.register-card .btn {
  margin-top: 10px;
}

.register-card .havelogin{
  text-align: right;
  margin-bottom: -22px;
}

.register-card .forgot{
  text-align: right; 
}

.ok, .close, .cancel {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    /*border-radius: 2px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;*/
}

.close {
    margin-right:18px;
    margin-top:15px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 22px;
    height: 22px;
    font-size: 20px;
}

.ok, .cancel {
    width:80px;
    float:right;
    margin-left:20px;
}
.ok:hover { background: #189CDA; }
/*.close:hover, .cancel:hover { background: #D4482D; }*/
.close:hover, .cancel:hover { background: transparent; }
.clear { float:none; clear: both; }

.logobar{
    float: left; 
    width: 48px;
    height:100%;
    min-width:47px;
    min-height:100%;
}

.blankbarback {
	background-image: url("../images/sub_38.png");
	background-repeat:repeat-y;
}

.menubar{
    width: 221px;
    height:100%;
    float: left;
    background-color:#f1f1f1;
    background-repeat:repeat-y;
    min-width:220px;
    min-height:100%;
}

.menubar2{
        background-image: url("../images/sub_12.png");
        background-repeat:repeat-y;
        height:100%;
        
}

.menubar3_1{
        background-image: url("../images/sub_17.png");
        background-repeat:no-repeat;
}


.maincontents{
    float: left; 
    width: 802px;
    background-color:#f6f6f6;
    background-image: url("../images/sub_04.png");
    background-size:contain;
    background-repeat:no-repeat;
}

.maincontentsmid{
    background-image: url("../images/admin_07.png");
    background-repeat:repeat-y;
    vartical-align:top;
    align:center;
}

.titlebar{
    width: 731px;
    height:30px;
    float: center;
}

.joinitem{
    width: 731px;
    float: left;
}

.joinitem-btn{
    width: 300px;
    float: left;
}

.join-form-control{
	display:block;
	width:300px;
	height:34px;
	padding:6px 12px;
	font-size:13px;
	line-height:1.42857143;
	color:#103680;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

table.type08 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    margin: 20px 10px;
    font-size:14px;
    width:720px;
    vertical-align: middle;
}

table.type08 thead th {
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #103680;
    background: #f0f0f0;
    text-align: center;
    vertical-align: middle;
}
table.type08 tbody th {
    padding: 10px;
    font-weight: bold;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #e5eeff;
    text-align: center;
}
table.type08 td {
    padding: 10px;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

table.type09 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    margin: 20px 10px;
    font-size:14px;
    width:680px;
    vertical-align: middle;
}

table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #103680;
    background: #f0f0f0;
    text-align: center;
    vertical-align: middle;
}
table.type09 tbody th {
    padding: 10px;
    font-weight: bold;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #e5eeff;
    text-align: center;
}
table.type09 td {
    padding: 10px;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

table.type10 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    margin: 20px 10px;
    font-size:14px;
    width:95%;
    vertical-align: middle;
}

table.type10 thead th {
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #103680;
    background: #f0f0f0;
    text-align: center;
    vertical-align: middle;
}
table.type10 tbody th {
    padding: 10px;
    font-weight: bold;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
table.type10 td {
    padding: 10px;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
table.type10 .even {
	background: #eee;
}
table.type10 .pronumber {
	background: #eff5ff;
}


.namefont{
    font-size:8px;
}

@media only screen and (max-width: 500px) {
  .register-card {
    margin: 50px 0 70px;
  }
}